{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended" ,
        "plugin:prettier/recommended"
    ],
    "plugins": ["prettier", "import", "react", "react-hooks", "jsx-a11y","@typescript-eslint"],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "camelcase": "off",
        "no-use-before-define": "off",
        "prettier/prettier": [
            "warn",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "printWidth": 100
            }
        ],
        "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
        "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies,
        "eqeqeq": [
            "error",
            "always"
        ],
        "curly": [
            "error",
            "multi-line"
        ],
        "one-var": [
            "error",
            "never"
        ]
    },
    "overrides": [
        {
            "files": ["**/*.tsx"],
            "rules": {
                "react/prop-types": "off"
            }
        }
    ]
}